@model PagedList.IPagedList<PattientVaccinationApp.Models.PatientDto>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Пациенты";
}

<h2>Пациенты</h2>

<p>
    @Html.ActionLink("Создать пациента", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        Поиск по ФИО или СНИЛС: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Поиск" />
    </p>
}
<br>
<table class="table">
    <tr>
        <th>
            Фамилия
        </th>
        <th>
            Отчество
        </th>
        <th>
            Имя
        </th>
        <th>
            Дата Рождения
        </th>
        <th>
            Пол
        </th>
        <th>
            СНИЛС
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MiddleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @item.DateOfBirth.ToString("dd.MM.yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SNILS)
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Посмотреть", "Details", new { id = item.Id }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<br />

Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, currentFilter = ViewBag.CurrentFilter }))
